.container
  .card-group 
    .card.card-body 
      %h1
        .fa.fa-graduation-cap 
      = Ticket.count
      Tickets en el sistema
      .row 
    .card.card.body
      %h1
        .fa.fa-chalkboard-teacher 
      = Ticket.where(estados: 'Pendiente').count
      Tickets pendientes

  %body
    = link_to tickets_path, class: 'btn btn-success' do 
      .fa.fa-book 
      New Ticket
