.container-fluid
    .row.justify-content-center
        .card{:style => "width: 50rem; border: none;"}
            %img.card-img-top{:alt => "", :src => "#{asset_path "Group.png"}"}
            .card-body
                %h5.card-title El Mejor soporte garantizado
                %p.card-text Si tienes algun problema con tu equipo puedes darle click al siguiente boton
                %a.btn.btn-primary{:href => new_ticket_path } Nuevo ticket
    