.container
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    = render "devise/shared/error_messages", resource: resource
    .card
      .card-header
        %h2 Registro
      .card-body
        .field
          %label.label Email
          %label#label.label
          .control
            .columns
              #test.column
                = f.text_field :email, required: true, :class => 'input',:id => 'email', autofocus: true, input_html: { autocomplete: "email" }, :type => "email", :id => 'email', :onchange => 'checkEmail()'
                :javascript
                  function checkEmail() {
                    var email = document.getElementById('email');
                    var filter = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                      if (!filter.test(email.value)) {
                        alert('Ingresa un email valido ');
                        email.focus;
                      }
                    }
                  
        .field
          %label.label Contraseña
          %label#label.label
          .control
            .columns
              #test.column
                = f.text_field :password, required: true, :class => 'input', :id => 'pass', :type => "password",:onchange => 'checkPassword()', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
                :javascript
                  function checkPassword() {
                    var password = document.getElementById('pass').value;
                    if (password.lenght < 6) {
                        alert('La contraseña debe tener mas de 6 caracteres ');
                        password.focus;
                        return false;
                    }
                  }
        .field
          %label.label Confirmar contraseña
          %label#label.label
          .control
            .columns
              #test.column
                = f.text_field :password_confirmation, required: true,:class => 'input', :id => 'passC', input_html: { autocomplete: "new-password" }, :type => "password", :onchange => 'checkPassC()'
                :javascript
                  function checkPassC() {
                      var pass1 = document.getElementById('passC').value;
                      var pass2 = document.getElementById('pass').value;
                      if (pass1 != pass2 ) {
                          alert('Las contraseñas no coinciden ');
                          pass1.focus;
                          return false;
                      }else{
                        return true;
                      }
                  }
        .field
          %label.label Nombre
          %label#label.label
          .control
            .columns
              #test.column
                = f.text_field :name, required: true, required: true,:class => 'input', :id => 'nombre', input_html: { autocomplete: "Nombre" }, :onchange => 'checkNombre()'
                :javascript
                  function checkNombre() {
                      var nombre = document.getElementById('nombre');
                      var regName = /^[a-zA-Z ]{2,30}$/;
                      var boton = document.getElementById('boton');
                      if (nombre.value === '' || nombre.value == null ) {
                          alert('Ingresa un nombre, el campo no puede estar vacio ');
                          boton.disabled = true;
                      }else if(!regName.test(nombre.value)){
                        alert('Ingresa un nombre correcto.');
                        boton.disabled = true;
                      }else {
                        return true;
                      }
                  }
        .field
          %label.label Apellido
          %label#label.label
          .control
            .columns
              #test.column
                = f.text_field :last_name, required: true, :class => 'input', :id => 'apellido', :onchange => 'checkApellido()' ,input_html: { autocomplete: "Apellido" }
                :javascript
                  function checkApellido() {
                      var apellido = document.getElementById('apellido');
                      var boton = document.getElementById('boton');
                      var regApellido = /^[a-zA-Z ]{2,30}$/;
                      if (apellido.value === '' || apellido.value == null ) {
                          alert('Ingresa un Apellido, el campo no puede estar vacio ');
                          boton.disabled = true;
                      }else if(!regApellido.test(apellido.value)){
                        alert('Ingresa un Apellido valido ');
                        boton.disabled = true;
                      }else{
                        boton.disabled = false;
                        return true;
                      }
                  }
        .form-actions
          = f.submit "Registrarse" , :class => "button is-warning", :id => 'boton', :disabled => "disabled"