= form_for User.create, as: resource_name do |f| 
    .field
        = f.label :name
        %br/
        = f.text_field :name
    .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
    .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off"
    .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
    .field
        = f.select(:roles) do
            - [['Admin', "admin"], ['Usuario', "usuario"], ['Tecnico', "tecnico"]].each do |c|
                = content_tag(:option, c.first, value: c.last)
    .actions
        = f.submit "Sign up"