.container
    - if current_user.has_role? :admin
        = link_to new_user_path , class: 'btn-primary btn-lg' do 
            %i.fa.fa-user-plus
        .card
            %header.card-header
                %p.card-header-title
                    = user.name
                %button.card-header-icon{"aria-label" => "more options"}
                    %span.icon
                        %i.fas.fa-angle-down{"aria-hidden" => "true"}
            .card-content
                .content
                    Este usuario esta registrado desde
                    = time_ago_in_words(user.created_at)
                    %br/
                    %time{:datetime => user.created_at} 
            %footer.card-footer
                -user.roles.each do |role|
                    %span.tag.is-primary 
                        = role.name
                %a.card-footer-item{:href => edit_user_path(user)} Edit
                = link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" }, class: "card-footer-item"
            
