.container
    .card
        .card-header
            Editando usuario 
            = @user.email
        .card-body 
            = simple_form_for @user do |f|
                = f.collection_check_boxes :role_ids, Role.all, :id, :name
                = f.error :roles, class: 'text-danger'
                %hr
                = f.button :submit, class: 'btn btn-success'
        .card-footer
        =link_to 'cancelar', users_path, class: 'btn btn-danger'