.card-columns 
    - @users.each do |user|
        =render 'users/user', user: user
= search_form_for @q do |f|
    = f.search_field :email_cont
    = f.submit
= link_to users_path, class: 'btn btn-sm btn-secondary' do
    .fa.fa-referre 
%table.table.table-bordered
    %thead 
        %tr     
            %th id 
            %th Mail 
            %th Creacion 
            %th Nombre
    %tbody
        - @users.each do |user|
            %tr
                %td= user.id
                %td= user.email 
                %td= user.created_at 
                %td= user.name