.container
  = form_for @ticket do |f|
    - if @ticket.errors.any?
      #error_explanation
        %h2= "#{pluralize(@ticket.errors.count, "error/es")} Prohiben que se cree el ticket"
        .alert.alert-danger{:role => "alert"}
          - @ticket.errors.full_messages.each do |message|
            %li= message    
  .card
    %header.card-header
      %p.card-header-title Ticket Nuevo
    .card-content
    - if current_user.has_any_role? :admin, :tecnico
      .content       
        = form_for @ticket do |f|
          .field
            %label.label Titulo
            %label.label{:id => 'titulo'}
            .control
              = f.text_field :title, :id => 'titu', :class => 'input', :onkeyup => 'hNull()'
          :javascript
              function hNull() {
                var tit = document.getElementById('titu').value;
                var boton = document.getElementById('boton')
                var err1 = document.getElementById('titulo')
                if( tit == ''){
                  err1.innerHTML = "<span style='color: red;'>"+
                  " Titulo obligatorio </span>"
                  boton.disabled = true;
                }else {
                  err1.innerHTML = "<span style='color: red;'>"+
                  "</span>"
                  boton.disabled = false;
                }
              }
          .field
            %label.label Problema(Descripcion)
            %label.label{:id => 'problema'}
            .control
              = f.text_area :description, :id => 'descripcion', :class => 'textarea', :onkeyup => 'pNull()'
          :javascript
              function pNull() {
                var desc = document.getElementById('descripcion').value;
                var boton = document.getElementById('boton')
                var err2 = document.getElementById('problema')
                if( desc == ''){
                  err2.innerHTML = "<span style='color: red;'>"+
                  " Descripcion obligatorio obligatorio</span>"
                  boton.disabled = true;
                }else {
                  err2.innerHTML = "<span style='color: red;'>"+
                  "</span>"
                  boton.disabled = false;
                }
              }
          .field{:id => 'tel'} 
            %label.label Telefono
            %label.label{:id => 'label2'}
            .control
              = f.text_field :telefono, :class => 'input', :id => 'tele', :onkeypress => "validate(event)", :onkeyup => 'tNull()'
          :javascript
            function tNull() {
              var val = document.getElementById('tele').value;
              var boton = document.getElementById('boton')
              var campo = document.getElementById('tel')
              var err3 = document.getElementById('label2')
              if(val == ""){
                campo.style.borderColor = "red";
                err3.innerHTML = "<span style='color: red;'>"+
                "El telefono No puede estar vacio</span>";
                  } else if (val.length !== 10){
                    campo.style.borderColor = "red";
                    err = err3.innerHTML = "<span style='color: red;'>"+
                    "El telefono debe tener 10 digitos</span>"
                  }else {
                    err = err3.innerHTML = "<span style='color: red;'>"+
                    "</span>"
                  }
                  return err
              }
            function validate(evt) {
              var theEvent = evt || window.event;

              // Handle paste
              if (theEvent.type === 'paste') {
                  key = event.clipboardData.getData('text/plain');
              } else {
              // Handle key press
                  var key = theEvent.keyCode || theEvent.which;
                  key = String.fromCharCode(key);
              }
              var regex = /[0-9]|\./;
              if( !regex.test(key) ) {
                theEvent.returnValue = false;
                if(theEvent.preventDefault) theEvent.preventDefault();
              }
            }
 
          .field
            %label.label Direccion
            %label.label{:id => 'direc'}
            .control
              = f.text_field :direccion, :class => 'input',:id => 'direccion', :onkeyup => 'dNull()'
          :javascript
              function dNull() {
                var dire = document.getElementById('direccion').value;
                var boton = document.getElementById('boton')
                var aviso = document.getElementById('direc')
                if(dire == ''){
                  aviso.innerHTML = "<span style='color: red;'>"+
                  " direccion obligatorio</span>"
                }else {
                  aviso.innerHTML = "<span style='color: red;'>"+
                  "</span>"
                  boton.disabled = false;
                }
              }
          .field
            %label.label Marca esta casilla si requieres de servicio remoto
            .control 
              = f.check_box :remoto,{}, :class => 'checkbox', :id => 'dateCheck'
          .field{:id => 'start'}
            %label.label Selecciona una fecha y hora de inicio
            %label.label{:id => 'label'}
            .control
              .columns
                .column{:id => 'test'}
                  = f.datetime_field :starts_at, :class => 'form-control datepicker', :style => "\r\n    border-bottom-width: 1px;\r\n    margin-bottom: 20px;", :id => 'date'
          :javascript
            var checkbox = document.getElementById('ticket_remoto');
            var details_div = document.getElementById('start');
            checkbox.onchange = function() {
                if(this.checked == false) {
                details_div.style['display'] = 'block';
                } else {
                details_div.style['display'] = 'none';
                }
            };
          .file.has-name.is-boxed
            %label.file-label 
              Sube una Imagen relacionada a tu problema
              = f.file_field :images, :class => 'file-input'
              %span.file-cta
                %span.file-icon
                  %i.fas.fa-upload
                %span.file-label
                  Escoge un archivo            
          .actions
            %label.label{:id => 'aviso'}
            = f.submit 'Enviar', :disabled => "disabled", :class => 'button is-link', :id => 'boton', :onclick => "checkDate()"
            :javascript
              function checkDate() {
                var selectedText = document.getElementById('date').value;
                var field = document.getElementById('date')
                var selectedDate = new Date(selectedText);
                var goodDate = selectedDate.getDate()
                var boton = document.getElementById('boton')
                var error = document.getElementById('aviso')
                var now = new Date();
                var gd = now.getDate()
                var fecha = document.getElementById('date').value;
                var fechaSelec = new Date(fecha);
                var tiempo = fechaSelec.getHours();
                var ahora = new Date();
                var horaAhora = ahora.getHours();
                if (((goodDate < gd) || (tiempo < horaAhora)) && selectedText == '') {
                  field.style.borderColor = "red";
                  error.innerHTML = "<span style='color: red;'>"+
                  "Ingresa una fecha/hora valida o llene el campo</span>"
                  boton.disabled = true;
                }
                else if(goodDate == gd){
                  field.style.borderColor = "green";
                  error.innerHTML = "<span style='color: red;'>"+
                  "</span>"
                }
              }
            = link_to 'Atras', tickets_path, :class => 'button is-link is-light'
    - else  
      .content
        .field
          = ticket.title
        .field
          = ticket.description 
        .field
          = ticket.estados