.container
    .card
        .card-header
            = ticket.title
        .card-content
            .media-content
                %p.title.is-4
                    %strong Descripcion:
                    = @ticket.description  
                %p.subtitle.is-6
                    %strong Estado del ticket:
                    = @ticket.estados
                - if @ticket.starts_at.present? and @ticket.ends_at.present?
                    %article.message.is-danger
                        .message-header
                            %p Cita generada correctamente
                            %button.delete{"aria-label" => "delete"}
                        .message-body
                            %p Su cita se genero con el folio
                            = @ticket.id
                            %p En la siguiente fecha: 
                            = @ticket.starts_at.strftime("%-d/%-m/%y: %H:%M %Z")
            .media
                .media-left
                    %figure.image.is-50x50
                        = image_tag(@ticket.images, style: 'width:30%;') if @ticket.images.attached?
        .card-footer
            .card-footer-item 
                .far.fa-clock 
                = ticket.created_at.strftime('%d-%b-%Y')
            .card-footer-item
                .fa.fa-chalkboard-teacher 
                = ticket.user_id
        = link_to 'Atras', tickets_path, :class => 'button is-link is-light'
        - if current_user.has_any_role? :admin, :tecnico
            = link_to 'Editar', edit_ticket_path(ticket), class: 'btn btn-sm btn-warning' 