.container
    .card
        .card-header
            = ticket.title
        .card-content
            .content
                = ticket.description
                = ticket.estados
        .card-footer
            .card-footer-item 
                .far.fa-clock 
                = ticket.created_at.strftime('%d-%b-%Y')
            .card-footer-item
                .fa.fa-chalkboard-teacher 
                = ticket.user
        = link_to 'Mostrar', ticket, class: 'btn btn-sm btn-primary'
        - if current_user.has_any_role? :admin, :tecnico
            = link_to 'Editar', edit_ticket_path(ticket), class: 'btn btn-sm btn-warning' 
