%h1
  .columns
    .column 
      = link_to 'Ticket Nuevo', new_ticket_path, :class => 'button is-warning'
    -if current_user.has_role? :admin
      .column
        Tickets:
        = @tickets.count
    -else
      .column
        Tickets:
        = Ticket.where(:user_id => current_user.id).count
- if current_user.has_role? :admin
  .columns
    .column
      - @tickets.each do |ticket|
        = render 'tickets/ticket', ticket: ticket
- else 
  .columns
    .column
      - Ticket.where(:user_id => current_user.id).each do |ticket|
        = render 'tickets/ticket', ticket: ticket
%br

