<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Iniciar Sesión
    </div>
    <div class="card-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <%= f.text_field :email, required: false, autofocus: true, :class => 'input', :placeholder => "Correo Electronico", :type => "email", :id => 'email' %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          
          <div class="field">
            <p class="control has-icons-left">
              <%= f.text_field :password, required: false, :class => 'input', :placeholder => "Contraseña", :type => "password", :id => 'passw'  %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Recordarme
              <div class="control">
                <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            </label>
          </div>
    </div>
    <div class="card-footer text-muted">
      <div class="form-actions">
        <%= f.submit "Log in", :class => "button is-warning", :onclick => 'checkEmail();' %>
        <script>
            function checkEmail() {
                var email = document.getElementById('email');
                var password = document.getElementById('passw');
                var pss =  password.value
                var filter = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!filter.test(email.value)) {
                    alert('Ingresa un email valido ');
                    email.focus;
                    return false;
                }else if (pss == ''){
                  alert('Ingresa una contraseña ');
                  password.focus;
                  return false;
                }
            }
          </script>
      </div>
     </div>
    </div>
    <% end %>
</div>

<%= render "devise/shared/links" %>
