%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email,                       
      required: true,                       
      autofocus: true,                      
      input_html: { autocomplete: "email" } 
    -#
    = f.input :password,                                                                    
      required: true,                                                                       
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
      input_html: { autocomplete: "new-password" }                                          
    -#
    = f.input :password_confirmation,              
      required: true,                              
      input_html: { autocomplete: "new-password" } 
    -#
    = f.input :name,                         
      required: true,                        
      input_html: { autocomplete: "Nombre" } 
    -#
    = f.input :last_name,                      
      required: true,                          
      input_html: { autocomplete: "Apellido" } 
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"