= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :precio
    = f.text_field :precio
  .field
    = f.label :descripcion
    = f.text_field :descripcion
  .field
    = f.label :imagen
    = f.file_field :images
  .actions
    = f.submit 'Save'
