%h1 Listing products

%table
  %thead
    %tr
      %th Titulo
      %th Precio
      %th Descripcion
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.titulo
        %td= product.precio
        %td= product.descripcion
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }


%br

= link_to 'New Product', new_product_path
