%p#notice= notice

%p
  %b Titulo:
  = @product.titulo
%p
  %b Precio:
  = @product.precio
%p
  %b Descripcion:
  = @product.descripcion
%p 
  %b  
  =@product.images.each do |images|
    = image_tag(@product.images)

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
