- if current_user
    = current_user.email    
    %nav.navbar.navbar-light.bg-light
        .row.align-items-start{:href => "#"}
            %a{:href => ""}
            %img{:alt => "Our Agenda App Logo", :src => "#{asset_path "teratech.png"}"}/
        / end logo
        .d-grid.gap-2.d-md-flex.justify-content-md-end
            = link_to edit_user_registration_path, class: 'btn-warning btn-lg' do 
                %i.fa.fa-cog
            = link_to destroy_user_session_path, class: 'btn-info btn-lg' do 
                %i.fa.fa-sign-out-alt
            = link_to tickets_path, class: 'btn-primary btn-lg' do 
                %i.fa.fa-ticket-alt
            -if current_user.has_role? :admin
                = link_to users_path, class: 'btn-secondary btn-lg' do 
                    %i.fa.fa-user
    / end nav
    / end header
- else
    .d-grid.gap-2.d-md-flex.justify-content-md-end
        %a.btn.btn-warning{"aria-disabled" => "true", :href => new_user_session_path} Iniciar sesion
        %a.btn.btn-success{"aria-disabled" => "true", :href => new_user_registration_path} Registro 