!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeraTech
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_pack_tag 'application'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render 'layouts/header'
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    %p.notice= notice
    %p.alert= alert
    = yield
